<% layout('layout') %>
    <h1>About Us</h1>
    <p>Thank you so much for stopping by! We are a couple of software engineers who met on an online programming
        bootcamp. We are both passionate about writing code and love to hike and cook together. We couldn't be more
        excited for our big day and to celebrate this next chapter in our lives with you. Please have a look around and
        check back for any further updates as the date approaches. See you soon

        <span class="signatures">Much love,
            Michael & Jayanti </span>
    </p>