<% layout('layout') %>
    <h1>About Us</h1>
    <p>We are a couple of software engineers who met on an online programming bootcamp. We are both passionate about
        writing code and love to hike and cook together. We are excited to start our new journey together as a married
        couple. </p>