<% layout('layout') %>
<h1>Guest Book</h1>
<p>Please leave us a message</p>
<form action="/api/guestbook" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <textarea name="message" placeholder="Your Message" required></textarea>
    <button type="submit">Add Entry</button>
</form>
<ul>
    <% guestBookEntries.forEach(entry=> { %>
        <li><strong>
                <%= entry.name %>:
            </strong>
            <%= entry.message %>
        </li>
        <% }) %>
</ul>