<% layout('layout') %>
<div slot="title">Gift Registry</div>
<!-- <div slot="left-content"> </div> -->
<div slot="center-content">
  <h1>Your presence is more than enough</h1>
  <h2 class="inv-date">But if you would like to get us a gift...</h2>
</div>